
  <link rel="stylesheet" href="style.css"></link>
  <link rel="import" href="../../bower_components/px-simple-line-chart/px-simple-line-chart.html" />
  <!-- <link rel="import" href="../bower_components/polymer/polymer.html"/> -->



  <dom-module id="securepage-view">
    <template>
      <script type="text/javascript" src="smoothie.js"></script>
      <script type="text/javascript" src="Timeseries.js" onload="configureTagsTimeseriesData();"></script>

      <div class="container" >
          <h2>Welcome to a Secure Page.</h2>
      	<div class="div1" style=" width:1000px; height:1000px;" >
      	<h1>Predix Real Time Chart</h1>
      	<div class="div2" style=" width:370px; height:400px;float:left" >
      	  <table><tr>
      	  <td>
              <p> <b>Select the tags </b></p>
      			<select multiple id="tagList" clasms='tag-multiple'>
      			</select>
            </td>
      	  </tr>
      	  <tr>
      	  <td><button type="button" class="timeseries_button" id="timeseries_button" onclick="onclick_machineServiceData();">Submit</button>
      		<p id="errorMessage"></p>
      		</td>
        </tr></table>
      	</div>
      	<div class="chartarea" style=" width:600px; height:400px;float:right" >
      		<canvas id="realtimechart" width="580" height="380" "></canvas>
      	</div>

      	<br><br><br><br><br><br><br>
        <div class="chartarea" style=" width:600px; height:400px;float:right" >
      		<px-simple-line-chart id="realtimechart4" width="580" height="400" columns="15" rows="10"></px-simple-line-chart>
      	</div>

       </div>
      </div>
    </template>
    <script>
      Polymer({
        is: 'securepage-view',
        properties: {},
        ready: function() {
          console.log('securepage-view ready()');
        }
      });
    </script>
  </dom-module>
